---
# Template based on https://github.com/pointnet/generate-templates-transform
rename:
  dirname: 'generators'
  basename: 'gitignore-global.js'
---
'use strict';

var file = require('./file');

module.exports = function(app) {

<% tasks.forEach(function(task) { %>  /**
   * Generate a `<%= task.basename %>` file for <%= task.description %> to the current
   * working directory.
   *
   * ```sh
   * $ gen <%= alias %>.global:<%= task.name %>
   * $ gen <%= alias %>.global:<%= task.name %> --dest ./foo
   * ```
   * @name gitignore:global:<%= task.name %>
   * @api public
   */

  app.task('<%= task.name %>', ['gitignore-<%= task.name %>']);
  app.task('gitignore-<%= task.name %>', { silent: true }, function() {
    return file(app, '<%= task.path %>');
  });

<% }); %>};
